{% extends "base.html" %}

{% block titulo %} Añadir una canción {% endblock %}

{% block contenido %}

<form action="{% url 'añadidos' %}" method="post">
    {% csrf_token %}
    <h2>Datos de la canción</h2>
    <p>
        <label>Nombre de la canción:</label>
        <input type="text" name="nombre_cancion">
    </p>
    <p>     
        <label>Fecha de lanzamiento:</label>
        <input type="date" name="fecha_lanzamiento">
    </p>
    <p>
        <label>Duración (segundos):</label>
        <input type="number" name="duracion" min="1">
    </p>
    <p>
        <label>Posición en el ranking:</label>
        <input type="number" name="posicion_ranking" min="1">
    </p>
    <p>
        <label>Estilo:</label>
        <input type="text" name="estilo">
    </p>
    <p>
        <label>Lista de intérpretes:</label>
        <textarea name="interpretes" rows="3"></textarea>
    </p>
    <p>
        <input type="submit" value="Añadir canción">
    </p>
</form>

{% endblock %}
