<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block titulo %}Gestor de Canciones{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <header>
            <h1>Gestor de Canciones</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'todas_canciones' %}">Ver todas las canciones</a></li>
                    <li><a href="{% url 'todos_interpretes' %}">Ver todos los interpretes</a></li>
                    <li><a href="{% url 'todos_estilos' %}">Ver todos los estilos</a></li>
                </ul>
            </nav>
        </header>
        {% block contenido %}{% endblock %}
        <footer>
            <p>&copy; <em>2023 Gestor de canciones. Todos los derechos reservados.</em></p>
        </footer>
    </body>
</html>
