{% extends "base.html" %}

{% block titulo %} Detalles de la cancion {% endblock %}

{% block contenido %}

<h2>Datos de la cancion</h2>

{% if cancion %}
    <ul>
        <li>
            {{ cancion.titulo}}
		</li>
		<li>
			Fecha de lanzamiento: {{ cancion.fecha_lanzamiento}}
		</li>
		<li>
			Duración: {{ cancion.duracion}} segundos
		<li>
			Posición en el ranking: {{ cancion.posicion}}
        </li>
        <li>
	    	Estilo: <a href="{% url 'detail' cancion.estilo.id %}">{{ cancion.estilo}}</a>
        </li>
    </ul>
	<h3>Lista de interpretes</h3>
	{% if interpretes %}
		<ul>
		{% for i in interpretes %}
                    <li><a href="{% url 'interprete' i.id %}">{{ i.nombre}}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No tiene interpretes asociados.</p>
	{% endif %}
{% else %}
    <p>No existe esta cancion.</p>
{% endif %}

{% endblock %}
