{% extends "base.html" %}

{% block titulo %} Detalles del interprete {% endblock %}

{% block contenido %}

<h2>Datos del interprete</h2>

{% if interprete %}
    <h3>{{ interprete.nombre}}</h3>
    Fecha de nacimiento: {{ interprete.fecha_nacimiento }}
	<h3>Lista de canciones</h3>
	{% if canciones %}
		<ol>
		{% for c in canciones %}
                     <li><a href="{% url 'cancion' c.id %}">{{ c.titulo}}</a></li>
		{% endfor %}
		</ol>
	{% else %}
		<p>No tiene canciones asociadas.</p>
	{% endif %}
{% else %}
    <p>No existe este interprete.</p>
{% endif %}

{% endblock %}
